@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.ContextListModel
@inject SignInManager<Domains.User> signInManager
@inject UserManager<Domains.User> userManager
@inject RoleManager<Domains.UserRole> RoleManager
@{
    var user = await userManager.GetUserAsync(User);
    var firstName = user.FirstName;
    var lastName = user.LastName;
    var role = await userManager.GetRolesAsync(user);
}

<div class="bg-gray-100 py-10">
    <div class="mx-auto max-w-7xl">

        <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-flex">
                <div class="sm:flex-auto">
                    <h1 class="text-xl font-semibold text-gray-900">کانتکست</h1>
                    <p class="mt-2 text-sm text-gray-700">لیست کانتکست ها</p>
                </div>
                <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                @if (role[0] == "ادمین اصلی" || role[0] == "ادمین" || role[0] == "مسئول گزارش")
                {
                    <a asp-controller="Context" asp-action="Create"
                       class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto">
                        افزودن
                    </a>
                }

                </div>

            </div>

            <form asp-action="List" asp-controller="Context"  method="get">
               
                
                <div class="grid grid-cols-3 p-3 bg-gray-200 rounded-md mt-3">

                    <select id="ProjectNameID" asp-items="@Model.ProjectNames" asp-for="ProjectNameID" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">

                    </select>
                    <input asp-for="TypeSearchName" type="text" class="col-span-1 p-2 ml-2 rounded" placeholder="جست و جو ">

                    <button class=" col-span-1 inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto">
                        جست
                        و جو
                    </button>
                </div>
             

            </form>
        @if (role[0] == "ادمین اصلی" || role[0] == "ادمین")
        {

            <a asp-controller="Context" asp-action="ExportProjectToWord" asp-route-projectId="@Model.ProjectNameID" class=" col-span-1 inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto">
                    خروجی ورد کامل
                </a>
        }
         

       

            <div class="mt-8 flex flex-col">
                <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8  p-4">
                    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-lg">
                            <table class="min-w-full divide-y divide-gray-300">

                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="py-3.5 pl-4 pr-3 text-right text-sm font-semibold text-gray-900 sm:pr-6">
                                            کد کانتکست
                                        </th>
                                        <th scope="col"
                                            class="py-3.5 pl-4 pr-3 text-right text-sm font-semibold text-gray-900 sm:pr-6">
                                            نام کانتکست
                                        </th>
                                  @*       <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:pr-6">
                                            توضیحات
                                        </th> *@
                                  @if (role[0] == "ادمین اصلی" || role[0] == "ادمین" ||  role[0] == "مسئول گزارش")
                                  {

                                      <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:pr-6">
                                          متن
                                      </th>
                                  }


                                        @if (role[0] == "ادمین اصلی" || role[0] == "ادمین" || role[0] == "مسئول جدول" || role[0] == "مسئول گزارش" || role[0] == "مسئول سفال")
                                  {

                                      <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:pr-6">
                                          جدول
                                      </th>
                                  }

                      
                                        @if (role[0] == "ادمین اصلی" || role[0] == "ادمین" || role[0] == "مسئول عکاسی" || role[0] == "مسئول گزارش")
                                  {

                                      <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:pr-6">
                                          تصویر
                                      </th>
                                  }
                                  @if (role[0] == "ادمین اصلی" || role[0] == "ادمین" ||  role[0] == "مسئول گزارش")
                                  {

                                      <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:pr-6">
                                          مدیریت محتوا
                                      </th>
                                  }
                                  @if (role[0] == "ادمین اصلی" || role[0] == "ادمین" ||  role[0] == "مسئول گزارش")
                                  {

                                      <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 ">
                                          ویرایش
                                      </th>
                                      <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 ">
                                          حذف
                                      </th>
                                  }
                                 
                                  @if (role[0] == "ادمین اصلی" || role[0] == "ادمین")
                                  {

                                      <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900 ">
                                          خروجی داکیومنت
                                      </th>
                                  }
                            
                        

                                    </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-200 bg-white">

                                    @if (Model.ContextLists != null)
                                    {
                                        @foreach (var item in Model.ContextLists)
                                        {
                                            <tr>
                                                <td class="whitespace-nowrap px-6 py-4  text-sm text-gray-500  ">
                                                    @item.ID

                                                </td>
                                                <td class="whitespace-nowrap  px-6 py-4  text-sm font-medium text-gray-900 ">
                                                    @item.Title
                                                </td>
                                      @*           <td class="whitespace-nowrap px-6 py-4  text-sm text-gray-500 "> @item.Description</td>
                                                <td class="whitespace-nowrap px-6 py-4   text-sm text-gray-500">
                                                    @item.StartDate
                                                </td> *@


                                      @if (role[0] == "ادمین اصلی" || role[0] == "ادمین" ||  role[0] == "مسئول گزارش")
                                      {

                                          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                                              <a asp-controller="ContextParagraph" asp-action="List" asp-route-ContextID="@item.ID" class="text-indigo-600 hover:text-indigo-900">
                                                  متن
                                                  <span class="sr-only">
                                                      متن @item.Title
                                                  </span>
                                              </a>
                                          </td>
                                      }

                                                @if (role[0] == "ادمین اصلی" || role[0] == "ادمین" || role[0] == "مسئول جدول" || role[0] == "مسئول گزارش" || role[0] == "مسئول سفال")
                                      {

                                          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                                              <a  asp-controller="ContextTable" asp-action="List" asp-route-ContextID="@item.ID" class="text-indigo-600 hover:text-indigo-900">
                                                  جدول
                                                  <span class="sr-only">
                                                      جدول @item.Title
                                                  </span>
                                              </a>
                                          </td>
                                      }
                           
                                      @if (role[0] == "ادمین اصلی" || role[0] == "ادمین" || role[0] == "مسئول عکاسی" || role[0] == "مسئول گزارش")
                                      {

                                          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                                              <a asp-controller="ContextImage" asp-action="List" asp-route-ContextID="@item.ID" class="text-indigo-600 hover:text-indigo-900">
                                                  تصویر
                                                  <span class="sr-only">
                                                      تصویر @item.Title
                                                  </span>
                                              </a>
                                          </td>
                                      }
                       
                                      @if (role[0] == "ادمین اصلی" || role[0] == "ادمین" ||  role[0] == "مسئول گزارش")
                                      {

                                          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                                              <a asp-controller="ContextDisplayItem" asp-action="Manage" asp-route-contextId="@item.ID" class="text-indigo-600 hover:text-indigo-900">
                                                  مدیریت محتوا
                                                  <span class="sr-only">
                                                      مدیریت محتوا @item.Title
                                                  </span>
                                              </a>
                                          </td>
                                          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                                              <a  asp-controller="Context" asp-action="Create" asp-route-id="@item.ID" class="text-indigo-600 hover:text-indigo-900">
                                                  ویرایش
                                                  <span class="sr-only">
                                                      ویرایش @item.Title
                                                  </span>
                                              </a>
                                          </td>

                                          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                                              <a  asp-controller="Context" asp-action="Delete" asp-route-id="@item.ID" class="text-indigo-600 hover:text-indigo-900">
                                                  حذف 

                                              </a>
                                          </td>
                                      }
                                      @if (role[0] == "ادمین اصلی" || role[0] == "ادمین")
                                      {

                                          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                                              <a asp-controller="Context" asp-action="ExportToWord" asp-route-contextId="@item.ID" class="text-indigo-600 hover:text-indigo-900">
                                                  خروجی داکیومنت 

                                              </a>
                                          </td>
                                      }

                                            </tr>
                                        }
                                    }



                                </tbody>
                            </table>

                            <div class="bg-white">
                                <div class="mx-auto  max-w-7xl py-8 sm:px-6 lg:px-8">

                                    <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
                                        <div class="-mt-px flex w-0 flex-1">
                                            <a asp-action="List" asp-controller="Context" asp-route-paging="@Model.page" asp-route-pagingtype="NEXT"
                                               class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                                <svg class="mr-3 h-5 w-5 text-gray-400"
                                                     x-description="Heroicon name: mini/arrow-long-left" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
                                                          clip-rule="evenodd"></path>
                                                </svg>
                                                بعدی
                                            </a>
                                        </div>
                                        <div class="hidden md:-mt-px md:flex">

                                            @foreach (var item in Model.pagenumbers)
                                            {

                                                if (item != Model.page)
                                                {
                                                    <a asp-action="List" asp-controller="Context" asp-route-paging="@item"
                                                       class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">@item</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="List" asp-controller="Context" asp-route-paging="@item"
                                                       class="inline-flex items-center border-t-2 border-indigo-500 px-4 pt-4 text-sm font-medium text-indigo-600"
                                                       aria-current="page">@item</a>
                                                }

                                            }


                                        </div>
                                        <div class="-mt-px flex w-0 flex-1 justify-end">
                                            <a asp-action="List" asp-controller="Context"  asp-route-paging="@Model.page" asp-route-pagingtype="Perevius"
                                               class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                                                قبلی
                                                <svg class="ml-3 h-5 w-5 text-gray-400"
                                                     x-description="Heroicon name: mini/arrow-long-right"
                                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                                     aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                          d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                                                          clip-rule="evenodd"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </nav>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>